span.lineno {
  width: 20px;
  margin-right: 4px;
  padding: 0 4px;
  border-right: 1px dotted rgba(0, 0, 0, 0.15);
  margin: 0 4px 0 0;
  color: #999;
  cursor: pointer;
}

pre {
  height: 500px;
  overflow: scroll;
}

span.marker {
  border-bottom: 3px solid #F00;
}